{% extends 'base.html' %}
{% load static %}

{% block title %}
Cart
{% endblock title %}

{% block content %}
<style>
    /* Hide the up and down arrows in number input fields */
    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .quantity-control {
        display: flex;
        align-items: center;
    }

    .quantity-input {
        width: 50px;
        text-align: center;
        margin: 0 5px;
    }
</style>

<div class="container mt-5">
    <h1>Your Shopping Cart <span class="text-danger">({{ item_count }})</span></h1>
    <div id="cart-message"></div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if cart_items %}
            {% for item in cart_items %}
            <tr id="cart-item-{{ item.id }}">
                <td>{{ item.product.name }} {{ item.product.model }} {{ item.product.year }}</td>
                <td><img src="{{ item.product.images.url }}" alt="{{ laptop_spec.product.name }}" width="120"></td>
                <td>
                    <div class="quantity-control">
                        <input type="number" class="quantity-input" data-item-id="{{ item.id }}"
                            value="{{ item.quantity }}" min="1">
                        <button class="btn btn-secondary decrease-btn mr-1" data-item-id="{{ item.id }}"
                            data-url="{% url 'orders:update_cart_quantity' item.id %}">-</button>
                        <button class="btn btn-secondary increase-btn" data-item-id="{{ item.id }}"
                            data-url="{% url 'orders:update_cart_quantity' item.id %}">+</button>

                    </div>
                </td>
                <td id="subtotal-{{ item.id }}">${{ item.subtotal }}</td>
                <td>
                    <button type="button" class="btn btn-danger remove-btn" data-item-id="{{ item.id }}">Remove from
                        cart</button>
                    <form id="remove-form-{{ item.id }}" method="post"
                        action="{% url 'orders:remove_from_cart' item.id %}" style="display: none;">
                        {% csrf_token %}
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">Your cart is empty.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% if cart_items %}
    <h3 class="text-danger">Total: $<span id="total-price">{{ total_price }}</span></h3>
    <a href="{% url 'orders:confirm_address' %}" class="btn btn-primary">Checkout</a>
    {% endif %}
</div>


{% endblock content %}