{% extends "dashboard_base.html" %}

{% block content %}
<a href="{% url 'dashboard:order' %}" class="btn btn-secondary"><i class="fa fa-backward"></i></a>

<div class="container">
<h2>Order Detail</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Order ID</th>
                    <td><span class="font-weight-bold">{{ order.id }}</span></td>
                </tr>
                <tr>
                    <th>Ordered Date</th>
                    <td>{{ order.ordered_date }}</td>
                </tr>
                <tr>
                    <th>Total Price</th>
                    <td><span class="text-danger font-weight-bold">${{ order.total_price }}</span></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        {% if order.status == 'Pending' %}
                            <span class="badge bg-warning">{{ order.get_status_display }}</span>
                        {% elif order.status == 'Completed' %}
                            <span class="badge bg-success">{{ order.get_status_display }}</span>
                        {% elif order.status == 'Cancelled' %}
                            <span class="badge bg-danger">{{ order.get_status_display }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Ordered By</th>
                    <td>{{ order.user.username }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Address</th>
                    <td>
                        {% with address=order.user.address_set.first %}
                            {% if address %}
                                Address 1: {{ address.address1 }}<br> 
                                Address 2: {{ address.address2 }}<br> 
                                City: {{ address.city }}<br>
                                Province: {{ address.province }}<br>
                                Phone number: {{ address.phone }}
                            {% else %}
                                N/A
                            {% endif %}
                        {% endwith %}
                    </td>
                </tr>
                <tr>
                    <th>QR Code</th>
                    <td>
                        {% if order.qr_code %}
                        <img src="{{ order.qr_code.url }}" alt="QR Code" width="100" height="100">
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<h3>Order Items</h3>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.orderhistoryitem_set.all %}
        <tr>
            <td>{{ item.product.name }} {{ item.product.model }} {{ item.product.year }}</td>
            <td><img src="{{ item.product.images.url }}" width="120"/></td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.subtotal }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
