{% extends 'base.html' %}
{% block title %}
    Order History
{% endblock title %}

{% block content %}
<div class="container">
    <h1>Order History</h1>
    {% if orders %}
    <ul>
        {% for order in orders %}
        <li>
            <strong>Order Number:</strong> {{ order.id }}<br>
            <strong>Order Date:</strong> {{ order.ordered_date }}<br>
            <strong>Total Price:</strong> ${{ order.total_price }}<br>
            <a href="{% url 'home:order_detail' order_id=order.id %}">View Details</a><br>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No orders found.</p>
    {% endif %}
</div>
{% endblock content %}
