{% extends 'base.html' %}
{% block title %}
    Products
{% endblock title %}

{% block content %}
<style>
    .product-card {
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 20px;
        
    }
    .product-card img {
        margin:0 auto;
        display: flex;
        width: 250px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
</style>
<div class="container">
    <div class="row">
        {% for laptop_spec in laptop_specs %}
        <div class="col-md-4">
            <div class="product-card">
                <img src="{{ laptop_spec.product.images.url }}" alt="{{ laptop_spec.product.name }}" >
                <h4>{{ laptop_spec.product.name }} {{ laptop_spec.product.model }} {{ laptop_spec.product.year }}</h4>
                <p><strong></strong> {{ laptop_spec.cpu.cpu_brand }} {{ laptop_spec.cpu.model }} | {{ laptop_spec.gpu.first.gpu_brand }} {{ laptop_spec.gpu.first.model }} | {{ laptop_spec.storage.capacity }} | {{ laptop_spec.storage.capacity_type }} {{ laptop_spec.memory.capacity }}GB</p>
                <h3 class="text-danger">${{ laptop_spec.product.price }}</h3>
                <a href="{% url 'products:product_detail' laptop_spec.slug %}" class="btn btn-primary">See More</a>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}