{% extends 'base.html' %}
{% load static %}
{% block title %}
Products
{% endblock title %}

{% block content %}
<style>
    .product-card {
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 20px;
        height: 480px;

    }

    .product-card img {
        margin: 0 auto;
        display: flex;
        width: 250px;
        height: 200px;
        object-fit: contain;
        border-radius: 5px;
        margin-bottom: 10px;
    }
</style>
<div class="container">
    <div class="row" id="products-container">
    </div>
</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/products/products.js' %}"></script>
{% endblock js %}